@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap");
body {
  font-family: Heebo;
}
.menu {
  padding-top: 10px;
  margin-bottom: 35px;
}
.menu a {
  color: #000;
}
.menu__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.menu__link {
  margin-right: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #21243D;
}

h2 {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 60px;
  color: #21243D;
}

h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #21243D;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243D;
}

.button {
  height: 40px;
  width: 200px;
  background-color: #FF6464;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500px;
  color: #fff;
}

.avatar {
  height: 180px;
  width: 175px;
  border-radius: 50%;
  -webkit-box-shadow: -4px 6px 1px 1px #EDF7FA;
          box-shadow: -4px 6px 1px 1px #EDF7FA;
}

.hello {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 525px;
  padding: 0 25px 0 25px;
}
.hello h1 {
  text-align: center;
}
.hello p {
  text-align: center;
  width: 325px;
}

.pretext {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pretext__h {
  line-height: 60px;
}

.pretext__link {
  display: none;
}

.blueBackground {
  background-color: #EDF7FA;
  height: 650px;
}

.posts {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 355px;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.posts__first {
  padding: 13px 20px 13px 20px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 265px;
}

.posts__date {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243D;
}

.posts__second {
  padding: 13px 20px 13px 20px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 265px;
}

.featuredWorks {
  text-align: center;
}

.block {
  display: none;
}

.on {
  padding-bottom: 16px;
  border-bottom: 2px solid #EDF7FA;
  width: 340px;
  display: block;
  height: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.on img {
  width: 340px;
  height: 230px;
}
.on .date {
  display: inline-block;
  border-radius: 16px;
  background-color: #142850;
  color: #fff;
  font-size: 18px;
  font-weight: 700px;
  width: 60px;
  text-align: center;
}
.on .word {
  margin-left: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #8695A4;
}

.icons__box {
  padding-bottom: 30px;
}

.icons {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 232px;
  margin-left: auto;
  margin-right: auto;
}

.icons__text {
  width: 222px;
  margin: 0 auto 20px auto;
}

.icons__text_item {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-top: 20px;
}
.br {
    display: none;
  }
@media (max-width: 856px) {
  /*.br {
    display: block;
  }*/
 .burger{
  position: absolute;
  top: 20px;
  right: 20px;
 }
 
 .menu__ul {
  padding: 20px 20px 20px 20px;
  background-color: rgba(255, 100, 100, 0.9);
  line-height: 35px;
  height: 200px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
          justify-content: space-between;
  position: fixed;
  right: -150px;
  top: 45px;
  transition: all ease 0.6s 0s ;
  border: #FF6464 solid 1px;
  box-shadow: -1.5px 1.5px 1px 3px #FF6464;
}

._active {
  transition: all ease 0.6s 0s ;
  z-index: 10;
  position: fixed;
  right: 20px;
  top: 45px;
}
.menu__link{
  margin-right: 0;
}
}












@media (min-width: 856px) {
  .block {
    display: block;
  }
  .burger{
    display: none;
  }

  .pretext {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .pretext__link {
    display: block;
  }

  .container {
    max-width: 856px;
    margin: 0 auto;
  }

  header {
    max-width: 1152px;
    margin: 0 auto;
  }

  .menu {
    margin-bottom: 75px;
  }
  .menu__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 86px;
  }
  .menu__link {
    margin-right: 35px;
    font-size: 20px;
    font-weight: 500;
  }
  .menu__link:last-child {
    margin-right: 60px;
  }

  a {
    color: #000;
  }

  h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
  }

  h2 {
    display: inline-block;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
  }

  h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
  }

  .h2top {
    padding-bottom: 18px;
  }

  .hello {
    height: 330px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 600px 256px;
    grid-template-columns: 500px 356px;
    -ms-grid-rows: 124px 35px 100px 35px 40px;
    grid-template-rows: 124px 100px 40px;
    margin-bottom: 90px;
    row-gap: 35px;
    padding; 0;
  }

  .hello > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .hello > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .hello > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .hello > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .hello > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }

  .hello > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
  .hello .avatar__position {
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    padding-bottom: 15px;
  }
  .hello .avatar {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    -webkit-box-shadow: -4px 6px 1px 1px #EDF7FA;
            box-shadow: -4px 6px 1px 1px #EDF7FA;
  }
  .hello h1 {
    text-align: left;
  }
  .hello p {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
  }
  .hello button {
    height: 40px;
    width: 200px;
    background-color: #FF6464;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500px;
    color: #fff;
  }

  .blueBackground {
    height: 415px;
    background-color: #EDF7FA;
  }
  .blueBackground .pretext {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 60px;
  }
  .blueBackground .pretext .pretext__link {
    padding-top: 3px;
    line-height: 50px;
    color: blue;
  }
  .blueBackground .posts {
    margin-top: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 856px;
    height: 300px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    justify-content: space-between;
  }
  .blueBackground .posts .posts__first {
    padding: 25px;
    width: 420px;
    height: 300px;
    background-color: #fff;
    margin-bottom: 57.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px;
  }
  .blueBackground .posts .posts__first .posts__h {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
  }
  .blueBackground .posts .posts__first .posts__date {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
  }
  .blueBackground .posts .posts__second {
    padding: 25px;
    width: 420px;
    height: 300px;
    background-color: #fff;
    margin-bottom: 57.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px;
  }
  .blueBackground .posts .posts__second .posts__h {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
  }
  .blueBackground .posts .posts__second .posts__date {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
  }

  .featuredWorks {
    text-align: left;
  }

  .infotable__img {
    height: 180px;
    display: inline-block;
  }

  .infotable {
    height: 210px;
    margin-bottom: 30px;
    margin-left: 20px;
    width: 580px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: inline-block;
  }

  .block {
    border-bottom: 3px solid #EDF7FA;
    height: 211px;
    margin-bottom: 31px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }

  .on {
    border-bottom: 3px solid #EDF7FA;
    height: 211px;
    margin-bottom: 31px;
    width: 856px;
    padding-bottom: 0px;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .on img {
    height: 180px;
    width: 240px;
  }

  .block img {
    width: 245px;
  }

  .date {
    display: inline-block;
    border-radius: 16px;
    background-color: #142850;
    color: #fff;
    font-size: 18px;
    font-weight: 700px;
    width: 60px;
    text-align: center;
  }

  .word {
    margin-left: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
  }
  
}

