@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap");
body {
  font-family: Heebo;
}
.select{
  margin-left: 60px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: relative;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header{
  z-index: 10;
  padding-top: 10px;
}
.select__ul{
  height: 0;
  width: 0;
}
.select__link{
  color: #21243D;
  position: relative;
  left: 60px;
  top: 50px;
  width: 100px;
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  background-color: #EDF7FA;
  border: #142850 2px solid;
  display: none;
}
._selectActive{
  display: block;
  animation: select 0.5s ease 1 alternate 0s forwards;
}

@keyframes select {
  from{}
  to{
    top:65px;
  }
}
@media (max-width: 856px) {
  .select{
    margin-left: 20px;
  }
  @keyframes select {
    from{
      left: 20px;
      top: 40px;
    }
    to{
      left: 20px;
      top: 53.5px;
    }
  }  
}


.container {
  max-width: 681px;
  margin: 0 auto;
}

header {
  max-width: 1152px;
  margin: 0 auto;
}

.menu {
  margin-bottom: 75px;
}
.menu__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 86px;
}
.menu__link {
  margin-right: 35px;
  font-size: 20px;
  font-weight: 500;
}
.menu__link:last-child {
  margin-right: 60px;
}

a {
}

h1 {
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
}

.blog {
  margin-bottom: 25px;
}

.red {
  color: #FF6464;
}

.infotable {
  height: 180px;
  margin-top: 30px;
  width: 681px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: inline-block;
  border-bottom: 3px solid #EDF7FA;
}

.date {
  font-size: 18px;
  font-weight: 700px;
  width: 60px;
}

.word {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #8695A4;
}

.center {
  padding-left: 30px;
  padding-right: 30px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
}

footer {
  margin-top: 52px;
  height: 182px;
}

.icons__box {
  width: 233px;
  margin: 0 auto;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 233px;
}

.icons__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  width: 221px;
  padding-left: 5px;
}
.burger{
  display: none;
}
.burger__block{
  display: none;
}



@media (max-width: 856px) {
  .burger__block{
    display: block;
  }
  .infotable__last{
    padding-bottom: 20px;
    border-bottom: 3px solid #EDF7FA;
  }
  .blog{
    margin-bottom: 0;
  }
  .container{
    margin: 0 auto;
    width: 340px;
  }
  h1{
    font-size: 30px;
  }
  .date {
    font-size: 16px;
    font-weight: 700px;
    width: 60px;
  }
  
  .word {
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #8695A4;
  }
  
  .center {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  h3{
    font-size: 26px;
    margin-top: 10px;
  }
  .infotable{
    width: 340px;
    padding-bottom: 40px;
    border-bottom: 0px solid #EDF7FA;
  }
  .burger{
    display: block;
  }
  .red {
    color: #21243D;
  }
 .burger{
  position: absolute;
  top: 20px;
  right: 20px;
 }
 
 .menu__ul {
  padding: 20px 20px 20px 20px;
  background-color: #EDF7FA;
  line-height: 35px;
  height: 200px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
          justify-content: space-between;
  position: fixed;
  right: -150px;
  top: 45px;
  transition: all ease 0.6s 0s ;
  border: #142850 solid 1px;
  box-shadow: -1.5px 1.5px 1px 3px #142850;
}

._active {
  transition: all ease 0.6s 0s ;
  z-index: 10;
  position: fixed;
  top: 45px;
  right: 20px;
}
.menu__link {
  margin-right: 0;
}
.menu__link:last-child {
  margin-right: 0px;
}
.burger{
  position: absolute;
  top: 20px;
  right: 20px;
  height: 30px;
  width: 35px;
}
}